/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  color: black;
  font-family: $fontBody;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}
